* {
    transition: .5s all;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    text-align: center;
}

ul li{
    list-style-type: none;
    padding: 20px;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

img:hover {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

button{
    display: flex;
    margin: 0 auto;
}
